
@mixin heading($spacing:3px,$weight:300,$case:uppercase){
    letter-spacing: $spacing;
    font-weight: $weight;
    text-transform: $case;
  }
  
  @mixin flex($dir:row,$justify:center,$align:center){
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin grid($col:1fr,$gap:1rem,$row:unset){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    }
  
    @mixin inputStyle($w:100%,$p:1rem,$bg:inherit,$border:none){
      padding: $p;
      border: $border;
      background-color: $bgColor;
      width: $w;
      outline:none
    }
  
    @mixin posCenter(){
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
  
    @mixin square($s:1rem){
      width: $s;
      height: $s;
    }
  

    @mixin fontGradient($firstColor:blue,$secondColor:red){
      background:linear-gradient(to right, $firstColor, $secondColor);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

