@import "_mixin";
@import "globalCssVariable";

.sideBarContainer {
    height: 100vh;
    padding: 20px;
    background-color: $sidebar-background-color;
    overflow-y: scroll;
    overflow-x: hidden;
    position: sticky;
    top: 0px;
    min-width: 60px;
    @include mobile{
        width: 70px;
        overflow-x: hidden;
        padding: 5px;
    }


    .sidebarLogo {
        width: 100%;
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include fontGradient();
        @include mobile{
            width: 60px;
        }
    }

    .sidebarWrapper {
        margin-top: 20px;
        padding-right: 10px;

        @include mobile{
           padding-left: 0;
        }

        .sidbar-heading {
            font-size: $semiTextTitle ;
            color: $dimmed-white;
            @include mobile{
                display: none;
            }
        }

        >ul {
            margin-top: 20px;
            display: flex;
            list-style: none;
            flex-direction: column;
            gap: $sidebar-grid-row-gap;

            >li {
                width: 100%;
                padding: 5px;
                margin-left: 20px;
                border-radius: 5px;
                padding: 8px;
                @include mobile{
                 width: fit-content;

                }

                >a {
                    font-size: $font-size;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    color: white;

                    .sidebar-link-text{
                        @include mobile{
                            display: none;
                        }
                    }

                    .react-tooltip{
                        display: none;
                        @include mobile{
                            display: block;
                            z-index: 100;
                            padding: 2px;
                            
                        }
                    }

                }

            }

            .activeLink {
                background-color: $sideBarActiveLinkColor ;


            }
        }
    }

    &::-webkit-scrollbar {
        width: .2rem;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(237, 232, 232, 0.3);
        // background-color: ;
    }


}
