//color
$dimmed-white: rgba(255, 255, 255, 0.7); 
$sideBarActiveLinkColor:#7c3aedd9;
$yellow-crayola:#ffdb70;
$vegas-gold:#ceb15a;

// font-size
$semiTextTitle:1rem;
$font-size:1rem;


// grid style
$sidebar-grid-row-gap:12px;


//background-color
$sidebar-background-color:#1a19198d;
$container-bg-color:#1e1e1f;
$btn-color:#7c3aedd9;



// border-color
$container-border-color:#383838;



